<section class="aboutus-section container">
  <div class="aboutus-container">
    <h2 class="aboutus-title">About us</h2>
    <h3 class="aboutus-title-uppercase">
      Our craftsmanship: creating unique handmade furniture
    </h3>
    <p class="aboutus-text">
      Discover the inspiration behind our modern and minimalist designs, and see
      how we bring them to life through our skilled craftsmanship.
    </p>
    <div class="aboutus-list-container">
      <ul class="aboutus-list">
        <li class="aboutus-item">
          <p class="aboutus-text-parameter">5+</p>
          <p class="aboutus-text">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="aboutus-item">
          <p class="aboutus-text-parameter">100%</p>
          <p class="aboutus-text">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="aboutus-item">
          <p class="aboutus-text-parameter">500+</p>
          <p class="aboutus-text">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="aboutus-picture">
    <picture class="about-us-img">
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/mob-about-us-1x.jpg 1x,
          ./img/mob-about-us-2x.jpg 2x
        "
      />
      <source
        media="(max-width: 1439px)"
        srcset="
          ./img/tab-about-us-1x.jpg 1x,
          ./img/tab-about-us-2x.jpg 2x
        "
      />
      <img
        class="aboutus-img"
        srcset="./img/des-about-us-1x.jpg 1x, ./img/des-about-us-2x.jpg 2x"
        src="./img/des-about-us-1x.jpg"
        alt="designed room with chair and arm-chair"
      />
    </picture>
  </div>
</section>
