<section class="bestsellers">
    <div class="container">
      <h2 class="bestsellers-title title">
        BESTSELLERS</h2>
      <ul class="bestsellers-list list">
        <li class="bestsellers-item">
          <img
            class="bestsellers-pic"
            src="./images/products-img-1.jpeg"
            alt="Dark chocolate"
            width="230"
            height="201"
          />
          <h3 class="bestsellers-subtitle">orange</h3>
          <p class="bestsellers-desc">Dark chocolate</p>
          <span class="bestsellers-cost">45 UAH</span>
        </li>
        <li class="bestsellers-item">
          <img
            class="bestsellers-pic"
            src="./images/products-img-2.jpeg"
            alt="Milk chocolate"
            width="230"
            height="201"
          />
          <h3 class="bestsellers-subtitle">APPLE&CRANBERRY</h3>
          <p class="bestsellers-desc">Milk chocolate</p>
          <span class="bestsellers-cost">45 UAH</span>
        </li>
        <li class="bestsellers-item">
          <img
            class="bestsellers-pic"
            src="./images/products-img-3.jpeg"
            alt="Dark chocolate"
            width="230"
            height="201"
          />
          <h3 class="bestsellers-subtitle">lime&sea salt</h3>
          <p class="bestsellers-desc">Dark chocolate</p>
          <span class="bestsellers-cost">45 UAH</span>
        </li>
        <li class="bestsellers-item">
          <img
            class="bestsellers-pic"
            src="./images/products-img-4.jpeg"
            alt="Dark chocolate"
            width="230"
            height="201"
          />
          <h3 class="bestsellers-subtitle">pineapple</h3>
          <p class="bestsellers-desc">Dark chocolate</p>
          <span class="bestsellers-cost">45 UAH</span>
        </li>
        <li class="bestsellers-item">
          <img
            class="bestsellers-pic"
            src="./images/products-img-5.jpeg"
            alt="Milk chocolate"
            width="230"
            height="201"
          />
          <h3 class="bestsellers-subtitle">Classic</h3>
          <p class="bestsellers-desc">Milk chocolate</p>
          <span class="bestsellers-cost">45 UAH</span>
        </li>
        <li class="bestsellers-item">
          <img
            class="bestsellers-pic"
            src="./images/products-img-6.jpeg"
            alt="Milk chocolate"
            width="230"
            height="201"
          />
          <h3 class="bestsellers-subtitle">honey</h3>
          <p class="bestsellers-desc">Milk chocolate</p>
          <span class="bestsellers-cost">45 UAH</span>
        </li>
        <li class="bestsellers-item">
          <img
            class="bestsellers-pic"
            src="./images/products-img-7.jpeg"
            alt="Dark chocolate"
            width="230"
            height="201"
          />
          <h3 class="bestsellers-subtitle">Roasted fruits</h3>
          <p class="bestsellers-desc">Dark chocolate</p>
          <span class="bestsellers-cost">45 UAH</span>
        </li>
        <li class="bestsellers-item">
          <img
            class="bestsellers-pic"
            src="./images/products-img-8.jpeg"
            alt="White chocolate"
            width="230"
            height="201"
          />
          <h3 class="bestsellers-subtitle">Classic</h3>
          <p class="bestsellers-desc">White chocolate</p>
          <span class="bestsellers-cost">45 UAH</span>
        </li>
      </ul>
    </div>
  </section>