<section class="bestsellers">
      <h2 class="bestsellers-title title">
        BESTSELLERS</h2>
    <div class="container">
      <div class="bestsellers-container-one">
        <ul class="bestsellers-list list">
        <li class="bestsellers-item-one">
          <img
            class="bestsellers-pic"
            src="./img/des-bestsellers-1-1x.jpg"
            alt="The modern platform bed"
            width="536"
            height="489"
          />
          <h3 class="bestsellers-subtitle">The modern platform bed</h3>
          <span class="bestsellers-cost">750$</span>
        </li>
        </ul>
      </div> 
      <div class="bestsellers-container-two">  
        <ul class="bestsellers-list-two list">
        <li class="bestsellers-item-two">
          <img
            class="bestsellers-pic"
            src="./img/des-bestsellers-2-1x.jpg"
            alt="The Cozy Lounge Chair"
            width="258"
            height="193"
          />
          <h3 class="bestsellers-subtitle">The Cozy Lounge Chair</h3>
          <span class="bestsellers-cost">230$</span>
        </li>
        <li class="bestsellers-item-two">
          <img
            class="bestsellers-pic"
            src="./img/des-bestsellers-3-1x.jpg"
            alt="The industrial accent chair"
            width="258"
            height="193"
          />
          <h3 class="bestsellers-subtitle">The industrial accent chair</h3>
          <span class="bestsellers-cost">250$</span>
        </li>
        <li class="bestsellers-item-two">
          <img
            class="bestsellers-pic"
            src="./img/des-bestsellers-4-1x.jpg"
            alt="The sleek stand"
            width="258"
            height="193"
          />
          <h3 class="bestsellers-subtitle">The sleek stand</h3>
          <span class="bestsellers-cost">300$</span>
        </li>
        <li class="bestsellers-item-two">
          <img
            class="bestsellers-pic"
            src="./img/des-bestsellers-5-1x.jpg"
            alt="The minimalist sofa"
            width="258"
            height="193"
          />
          <h3 class="bestsellers-subtitle">The minimalist sofa</h3>
          <span class="bestsellers-cost">600$</span>
        </ul>
      </div>
    </div>
  </section>