<section class="bestsellers">
      <h2 id="bestsellers" class="bestsellers-title title">
        BESTSELLERS</h2>
    <div class="container">
      <div class="bestsellers-container-one">
        <ul class="bestsellers-list list">
          <li class="bestsellers-item-one">
            <picture>
            <source srcset="./img/des-bestsellers-1-1x.jpg 1x, 
            ./img/des-bestsellers-1-2x.jpg 2x" 
            media="(min-width:1440px)"
            />
            <source srcset="./img/tab-bestsellers-1-1x.jpg 1x, 
            ./img/tab-bestsellers-1-2x.jpg 2x" 
            media="(min-width:768px)"
            />
            <source srcset="./img/mob-bestsellers-1-1x.jpg 1x, 
            ./img/mob-bestsellers-1-2x.jpg 2x" 
            media="(min-width:375px)"
            />
            <img
            class="bestsellers-pic"
            src="./img/tab-bestsellers-1-1x.jpg"
            alt="The modern platform bed"
            width="704"
            />
            </picture>
            <h3 class="bestsellers-subtitle">The modern platform bed</h3>
            <span class="bestsellers-cost">750$</span>
          </li>
        </ul>
      </div> 
      <div class="bestsellers-container-two">  
        <ul class="bestsellers-list-two list">
          <li class="bestsellers-item-two">
            <picture>
            <source srcset="./img/des-bestsellers-2-1x.jpg 1x, 
            ./img/des-bestsellers-2-2x.jpg 2x" 
            media="(min-width:1440px)"
            />
            <source srcset="./img/tab-bestsellers-2-1x.jpg 1x, 
            ./img/tab-bestsellers-2-2x.jpg 2x" 
            media="(min-width:768px)"
            />
            <source srcset="./img/mob-bestsellers-2-1x.jpg 1x, 
            ./img/mob-bestsellers-2-2x.jpg 2x" 
            media="(min-width:375px)"
            />
            <img
            class="bestsellers-pic"
            src="./img/mob-bestsellers-2-1x.jpg"
            alt="The Cozy Lounge Chair"
            width="343"
            />
            </picture>
            <h3 class="bestsellers-subtitle">The Cozy Lounge Chair</h3>
            <span class="bestsellers-cost">230$</span>
          </li>
          <li class="bestsellers-item-two">
            <picture>
            <source srcset="./img/des-bestsellers-3-1x.jpg 1x, 
            ./img/des-bestsellers-3-2x.jpg 2x" 
            media="(min-width:1440px)"
            />
            <source srcset="./img/tab-bestsellers-3-1x.jpg 1x, 
            ./img/tab-bestsellers-3-2x.jpg 2x" 
            media="(min-width:768px)"
            />
            <source srcset="./img/mob-bestsellers-3-1x.jpg 1x, 
            ./img/mob-bestsellers-3-2x.jpg 2x" 
            media="(min-width:375px)"
            />
            <img
            class="bestsellers-pic"
            src="./img/mob-bestsellers-3-1x.jpg"
            alt="The industrial accent chair"
            width="343"
            />
            </picture>
            <h3 class="bestsellers-subtitle">The industrial accent chair</h3>
            <span class="bestsellers-cost">250$</span>
          </li> 
          <li class="bestsellers-item-two">
            <picture>
            <source srcset="./img/des-bestsellers-4-1x.jpg 1x, 
            ./img/des-bestsellers-4-2x.jpg 2x" 
            media="(min-width:1440px)"
            />
            <source srcset="./img/tab-bestsellers-4-1x.jpg 1x, 
            ./img/tab-bestsellers-4-2x.jpg 2x" 
            media="(min-width:768px)"
            />
            <img
            class="bestsellers-pic"
            src="./img/tab-bestsellers-4-1x.jpg"
            alt="The sleek stand"
            width="336"
            />
            </picture>
            <h3 class="bestsellers-subtitle">The sleek stand</h3>
            <span class="bestsellers-cost">300$</span>
          </li>
          <li class="bestsellers-item-two">
              <picture>
              <source srcset="./img/des-bestsellers-5-1x.jpg 1x, 
              ./img/des-bestsellers-5-2x.jpg 2x" 
              media="(min-width:1440px)"
              />
              <source srcset="./img/tab-bestsellers-5-1x.jpg 1x, 
              ./img/tab-bestsellers-5-2x.jpg 2x" 
              media="(min-width:768px)"
              />
              <img
              class="bestsellers-pic"
              src="./img/tab-bestsellers-5-1x.jpg"
              alt="The minimalist sofa"
              width="336"
              />
              </picture>
              <h3 class="bestsellers-subtitle">The minimalist sofa</h3>
              <span class="bestsellers-cost">650$</span>
          </li>
        </ul>
      </div>
    </div>
  </section>