      <section class="our-products">
        <div class="our-products-container">
          <h2 class="our-products-title">OUR PRODUCTS</h2>
          <ul class="our-products-list list">
            <li class="our-products-item">
              <img
                class="our-products-img"
                src="./img/des-our-products-1-1x.jpg"
                alt="Minimalist storage solutions"
                width="312"
                height="300"
                />
              <h3 class="our-products-name">Minimalist storage solutions</h3>
            </li>
            <li class="our-products-item">
              <img
                class="our-products-img link"
                src="./img/des-our-products-2-1x.jpg"
                alt="Handcrafted minimalist seating"
                width="312"
                height="300"
              />
              <h3 class="our-products-name">Handcrafted minimalist seating</h3>
            </li>
            <li class="our-products-item">
              <img
                class="our-products-img"
                src="./img/des-our-products-3-1x.jpg"
                alt="Sleek and simple tables"
                width="312"
                height="300"
              />
              <h3 class="our-products-name">Sleek and simple tables</h3>
            </li>
            <li class="our-products-item">
              <img
                class="our-products-img"
                src="./img/des-our-products-4-1x.jpg"
                alt="laptop"
                width="312"
                height="300"
              />
              <h3 class="our-products-name">Minimalist seating for every space</h3>
            </li>
          </ul>
        </div>
      </section>