:root {
  --dark-blue: #0a224a;
  --dark-gray: #7a7a7a;
  --gray: #B6B6B6;
  --light-gray: #D9D9D9;
  --accent-gray: #F7FAFF;
  --white: #FFFFFF;
}

body {
    color: var(--dark-blue);
    background-color: var(--white);
    font-family: "Roboto", sans-serif;
}

.container {
  padding: 0 60px;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}