.bestsellers {
  padding-bottom: 64px;
}
.bestsellers-title {
  color: var(--dark-blue);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 21px;
  text-align: center;
}
.bestsellers > .container {
  outline: 2px solid red;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: row;
}

.bestsellers-item-one {
  width: 100%;
}
.bestsellers-item-two {
  width: 100%;
}
.bestsellers-item-two:not(:nth-child(-n+2)) {
  display: none;
}

.bestsellers-pic {
  margin-bottom: 14px;
}
.bestsellers-subtitle {
  color: var(--dark-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
}
.bestsellers-cost {
  color: var(--dark-blue);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
} 

@media screen and (min-width: 768px) {
  .bestsellers {
    padding-bottom: 100px;
  }
  .bestsellers-title {
    font-size: 32px;
    line-height: 1.41;
    margin-bottom: 30px;
  }
  .bestsellers-container-one {
      width: 100%;
      margin-bottom: 32px;
    }
  .bestsellers-list-two {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    flex-direction: row;
    }
    .bestsellers-item-one {
      width: 100%;
    }
    .bestsellers-item-two {
      width: calc((100% - 32px) / 2);
    }
    .bestsellers-item-two:not(:nth-child(-n+2)) {
      display: block;
    }
    .bestsellers-pic {
      margin-bottom: 15px;
    }
    .bestsellers-subtitle {
      font-size: 18px;
    }
    
    .bestsellers-cost {
      font-size: 18px; 
    }  
  }
@media screen and (min-width: 1440px)  {
  .bestsellers > .container {
    width: 1216px;
    flex-wrap: nowrap;
    gap: 0px;
    display: flex;
    flex-direction: none column;
  }
  .bestsellers-container-one {
    /* width: 536px; */
    margin-right: 24px;
    margin-bottom: 0px;
  }
  
  .bestsellers-list-two {
    gap: 30px 20px;
  }
  .bestsellers-item-one {
    width: 536px;
  }
  .bestsellers-item-two {
    width: 258px;
  }
  } 
  











