


.clients{

    /* background: var(--accent-gray); */
background: var(--dark-gray);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients-item{
    padding: 24px;
}

.clients-all{
    padding-top: 36px;
    padding-bottom: 36px;
}

.clients-title{
    color: var(--dark-blue);
text-align: center;
font-family: Roboto;
font-size: 28px;
font-weight: 400;
line-height: 1.4; 
text-transform: uppercase;
margin-bottom: 54px;
}


.client-flex{

    display: flex;
    flex-wrap: wrap;
   
   /* margin-bottom: 24px; */
}

.clients-subtitle-time{
    margin-left: 14px;
}

.clients-subtitle{
     color: var(--dark-blue);
    
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 1.8;
text-transform: uppercase;
}

.clients-time-text{
     color: var(--dark-blue);
    
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 1.29;
}

.clients-text{
     color: var(--dark-blue); 
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 1.43;
/* width: 296px;
height: 110px;
flex-shrink: 0; */
}

.clients-list
{
    display: flex;
    flex-direction: row;
}
.clients-item{
     border-radius: 8px;
background: var(--white);
}




@media screen and (max-width: 320px){
.clients-title{
font-size: 22px;

}
.clients-text{
     max-width: 250px;    

}

.clients-subtitle-time{
    margin-left: 10px;
}


.clients-subtitle{
font-size: 15px;
}


.clients-item.tab{
    display: none;
}

.clients-item.des 
{
    display: none;
}


.clients-all
{
    padding-top: 36px;
    padding-bottom: 36px;
    margin-right: 0 auto;}


.clients-item{
    padding: 20px;
}

}    

@media screen and (max-width:767px) {
    .clients-item.tab{
    display: none;
}

.clients-item.des 
{
    display: none;
}



}
@media screen and (min-width: 375px) and (max-width: 767px) 
{

.clients-item.des 
{
    display: none;
}

/* .clients-item{
    padding: 24px;
} */




}

@media screen and (min-width: 768px) and (max-width: 1439px)    
{

 .clients-all
{
    padding-top: 36px;
    padding-bottom: 36px;
    margin-right: 0 auto;}



.clients{
    margin: 0  auto 100px;}

    .client-flex { 
     /* padding: 24px; */

} 

.clients-item.des 
{
    display: none;
}


.alexandra-mob{
    display: none;
}


.clients-container{
    display: flex;

}




.clients-list{

    gap: 16px; ;
}

.clients-time-text{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
}


.clients-title{
font-size: 32px;
font-weight: 400;
line-height: 1.4;
text-transform: uppercase;
}

.clients-subtitle{
font-family: Roboto;
font-size: 20px;
font-weight: 700;
line-height: 2.25;
text-transform: uppercase;
}

.clients-text{
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 1.5;
/* width: 296px;
height: 192px; */
/* width: 100%; */
}

.clients-item{
    width: calc((100% - 16px) / 2);
    padding: 24px;
}

}




@media screen and (min-width: 1440px){
   .clients{
 
    flex-direction: row;
    
    
} 
.clients-all{
    padding-top: 60px;
    padding-bottom: 60px;
}

.alexandra-mob{
    display: none;
}

.clients-container{
    display: flex;
    margin-left: 0;

    

}

.clients-list{
    gap: 23px;
}

.clients-time-text{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
}


.clients-title{
font-size: 32px;
font-weight: 400;
line-height: 1.4;
text-transform: uppercase;
}

.clients-subtitle{
font-family: Roboto;
font-size: 20px;
font-weight: 700;
line-height: 2.25;
text-transform: uppercase;
}

.clients-text{
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 1.5;
/* width: 360px;
height: 161px; */
}

.clients-item{
  width: calc((100% - 46px) / 3); 
padding: 32px;

}

.client-flex { 
/* padding: 32px; */
margin-bottom: 16px;



} 

}
    


