.footer-container {
  padding: 42px 16px;
}

.footer {
  background-color: var(--dark-blue);
}

.footer-svg {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.footer-list-svg {
  display: flex;
  margin: 0;
  padding-left: 0px;
  gap: 16px;
}

.footer-logo {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.footer-logo-icon {
  fill: var(--white);
}

.footer-social-svg {
  fill: var(--white);
}

.footer-social-svg:hover,
.footer-social-svg:focus {
  fill: var(--dark-gray);
}

.footer-menu-link {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transition: transform 0.3s ease;
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  color: var(--dark-gray);
  font-weight: 600;
  transform: scale(1.1);
}

.footer-adress-link {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.footer-adress-link:hover,
.footer-adress-link:focus {
  color:  var(--address-link);
}

.footer-contacts-link {
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.footer-privacy-polisy {
  opacity: 0.6;
  color: var(--white);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.07em;
  text-decoration-line: underline;
}

.footer-privacy {
  opacity: 0.6;
  color: var(--white);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.footer-hours {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-top: 8px;
}

.hiddan-mail {
  display: none;
}

.footer-menu-list {
  margin-bottom: 36px;
}

.footer-adress {
  margin-bottom: 35px;
}

.footer-contacts-number {
  margin-bottom: 64px;
}

.footer-number-item-link {
  padding-top: 8px;
}

.footer-number-item {
  transition: background-color 0.3s ease;
}

.footer-number-item:hover,
.footer-number-item:focus {
  animation: bounce 0.8s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02); /* Анімація масштабування */
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 704px;
    padding: 36px 0px;
    margin: 0 auto;
    position: relative;
  }

  .footer-menu-link {
    font-size: 16px;
  }

  .footer-adress-link {
    font-size: 19px;
  }

  .footer-hours {
    font-size: 19px;
  }

  .footer-contacts-link {
    font-size: 19px;
  }

  .footer-privacy {
    font-size: 16px;
  }

  .footer-privacy-polisy {
    font-size: 16px;
  }

  .footer-logo-icon {
    width: 127px;
    height: 16px;
  }

  .footer-social-svg {
    width: 40px;
    height: 40px;
  }

  .footer-menu {
    display: inline-flex;
    position: absolute;
    top: 36px;
    right: 250px;
    margin-bottom: 0px;
    padding: 8px 8px;
  }

  .footer-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 0;
  }

  .footer-adress {
    margin-bottom: 64px;
  }

  .footer-adress-list {
    gap: 24px;
  }

  .hiddan-mail {
    display: flex;
  }

  .footer-number-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .wrap-footer-number-list {
    margin-bottom: 24px;
  }

  .footer-contacts-number {
    margin-bottom: 64px;
  }

  .footer-hours {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    max-width: 1376px;
    margin: 0 auto;
    position: relative;
  }

  .footer-menu-link {
    font-size: 18px;
  }

  .footer-adress-link {
    font-size: 19px;
  }

  .footer-hours {
    font-size: 19px;
  }

  .footer-contacts-link {
    font-size: 19px;
  }

  .footer-privacy {
    font-size: 16px;
  }

  .footer-privacy-polisy {
    font-size: 16px;
  }

  .footer-menu {
    position: absolute;
    left: 396px;
    top: 36px;
  }

  .footer-menu-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .footer-adress {
    margin-bottom: 35px;
  }

  .footer-number-list {
    gap: 17px;
  }

  .footer-contacts-number {
    max-width: 350px;
    position: absolute;
    top: 92px;
    left: 396px;
    margin-bottom: 0;
  }

  .footer-contacts-number {
    display: flex;
    gap: 82px;
    margin-top: 18px;
  }
}
