.footer-container {
  padding: 42px 16px;
}

.footer {
  background-color: var(--dark-blue);
}

.footer-svg {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.footer-list-svg {
  display: flex;
  margin: 0;
  padding-left: 0px;
  gap: 16px;
}

.footer-logo {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.footer-logo-icon {
  fill: var(--white);

}

.footer-social-svg {
  fill: var(--white);
}

.footer-menu-link {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.footer-adress-link {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.footer-contacts-link {
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.footer-privacy-polisy {
  opacity: 0.6;
  color: var(--white);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.07em;
  text-decoration-line: underline;
}

.footer-privacy {
  opacity: 0.6;
color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  /* 116.667% */
  letter-spacing: 1.188px;
}

.footer-hours {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-top: 8px;
}

.hiddan-mail {
  display: none;
}

.footer-menu-list {
  margin-bottom: 36px;
}

.footer-adress {
  margin-bottom: 35px;
}

.footer-contacts-number {
  margin-bottom: 64px;
}
.footer-number-item-link{
padding-top: 8px;
}

@media screen and (min-width:768px) {
  .footer-container {
    max-width: 704px;
    padding: 36px 32px;
    margin: 0 auto;
    position: relative;
  }
    .footer-menu-link{
      font-size: 16px;
    }

  .footer-logo-icon {
    width: 127px;
    height: 16;
  }

  .footer-svg {
    margin-bottom: 20px;
  }


  .footer-social-svg {
    width: 40px;
    height: 40px;
  }

  .footer-menu {
    display: inline-flex;
    position: absolute;
    top: 36px;
    right: 250px;
    margin-bottom: 0px;
    padding: 8px 8px;
  }

  .footer-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 0;
  }

  /* ----------------- ADRESS------------------ */
  .footer-adress {
    margin-bottom: 64px;
  }

  .footer-adress-list {
    gap: 24px;
  }


  /* ------------------number -------------- */

  .hiddan-mail {
    display: flex;

  }

  .footer-number-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .wrap-footer-number-list {
    margin-bottom: 24px;
  }



  .footer-contacts-number {
    margin-bottom: 64px;
  }



  .footer-hours {
    margin-top: 24px;
  }
}

@media screen and (min-width:1440px) {
  .footer-container {
    max-width: 1376px;
    margin: 0 auto;
    position: relative;

  }

  /* ------------------LOGO-AND-SOCIAL ICON---------------- */
  .footer-svg {
    margin-bottom: 39px;
  }


  /* ------------------FOOTER MENU---------------- */

  .footer-menu {
    position: absolute;
    left: 396px;
    top: 36px;
  }

  .footer-menu-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  /* -----------------FOOTER ADRESS------------------ */
  .footer-adress {
    margin-bottom: 35px;
  }

  /* ------------------footer number -------------- */

  .footer-contacts-number {
    max-width: 350px;
    position: absolute;
    top: 103px;
    left: 396px;
    margin-bottom: 0;

  }

  .footer-contacts-number {
    display: flex;
    gap: 82px;
    margin-top: 18px;
  }

}