.header {
  background-color: var(--accent-gray);
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-nav a {
  display: flex;
}

.menu_toggle_icon {
  stroke: var(--dark-blue);
}

.header-logo {
  fill: var(--dark-blue);
}

.header-nav {
  display: flex;
  align-items: center;
  padding: 28px 0;
  justify-content: space-between;
}

.header-mob-menu-list {
  display: none;
}

.button-menu-toggle {
  min-height: 32px;
  min-width: 32px;
  display: flex;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin-left: auto;
  align-items: center;
  padding: 0;
}

/* ---------------------hidden menu------------------- */

.header-hidden-mob-menu {
  margin-bottom: 117px;
}

.header-hidden-mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  margin-top: 202px;
}

.is-hidden {
  overflow: hidden;
  z-index: 10;
  transform: translateX(100%);
}

.menu-container {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  transition: transform 300ms ease-in-out;
  margin: auto;
}

.wrap-menu-toggle {
  max-width: 100%;
  padding: 28px 0px;
  background: var(--accent-gray);
  margin: auto;
}

.wrap-logo-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.menu-toggle {
  height: 32px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container .wrap-menu-toggle {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  color: var(--white);
}

.header-mob-manu-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform 0.3s ease;
}

.header-mob-manu-link:hover,
.header-mob-manu-link:focus {
  font-weight: 600;
  transform: scale(1.1);
}

.show-modal-btn:hover {
  background-color: var(--accent-gray);
  border-radius: 50%;
}

.header-mob-menu-list {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

@media screen and (min-width: 320px) {
  .header-mob-menu-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .wrap-menu-toggle {
    max-width: 100%;
    padding: 28px 0px;
  }

  .menu_toggle_icon {
    height: 40px;
    width: 40px;
  }

  .header-hidden-mob-menu-list {
    margin-top: 245px;
  }

  .menu-toggle {
    height: 39px;
  }

  .wrap-logo-btn {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .button-menu-toggle {
    display: none;
  }

  .header-mob-menu-list {
    display: flex;
  }

  .header {
    position: static;
  }

  .header-nav {
    display: flex;
    padding: 34px 0;
  }
}