.our-products {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .our-products-container {
    max-width: 343px;
    outline: 2px solid red;
  }
  .our-products-title {
    color: #0A224A;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 33px;
    margin-right: auto;
    margin-left: auto;
  }

  .our-products-list {
    display: flex;
    display: wrap;
    gap: 24px;
  }
  .our-products-item {
    width: 100%;
    /* display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 3 * 24px) / 4); */
  }

  .our-products-item:not(:nth-child(-n+1)) {
    display: none;
  }
  .our-products-img {
    margin: 0 auto;
    margin-bottom: 16px;
  }
  .our-products-name {
    color: #0A224A;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  @media screen and (min-width: 375px) {
   
    }
  @media screen and (min-width: 768px) {
        .our-products {
        padding-top: 100px;
        padding-bottom: 100px;
      }
      .our-products-title {
        color: #0A224A;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.41; 
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
      }
      .our-products-list {
        display: flex;
        display: wrap;
        gap: 16px;
      }
      .our-products-item {
        width: 100%;
        /* display: inline-flex; */
        flex-direction: column;
        align-items: flex-start;
        width: calc((100% - 16px) / 2);
      }
      .our-products-item:not(:nth-child(-n+1)) {
        display: block;
    }
      .our-products-item:not(:nth-child(-n+2)) {
        display: none;
      }
      .our-products-img {
        margin: 0 auto;
        margin-bottom: 16px;
      }
      .our-products-name {
        color: #0A224A;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
      }
  }
@media screen and (min-width: 1440px)  {
  .container {
    max-width: 1350px;
  }
  .our-products {
    padding-bottom: 100px;
    display: flex;
  }
  .our-products-title {
    color: #0A224A;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4; 
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .our-products-list {
    display: flex;
    gap: 24px;
  }
  .our-products-item {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 3 * 24px) / 4);
  }
  .our-products-item:not(:nth-child(-n+2)) {
    display: block;
  }
  .our-products-img {
    margin-bottom: 15px;
  }
  .our-products-name {
    color: #0A224A;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }
}






