.subscription {

    padding: 88px 172px 86px 230px;
}

/* 
 .wrap-container {
    display: flex;
    flex-direction: row;
    gap: 42px;
    width: 100%;
}  */
.wrap-container {

    display: flex;
    flex-direction: column;
    position: relative;
    gap: 30px;
}

@media (max-width: 767px) {
    .subscription.container {
        padding: 74px 16px 74px 16px;
    }
    .usb-img{
        text-align: center;
    }
    .sub-name-title{
        text-align: center;
    }
}

@media (min-width: 768px) {
    .subscription {
        padding-top: 100px;
        padding-left: 62px;
    }

   
    .wrap-container {

        display: flex;
        flex-direction: column;
        position: relative;
        gap: 64px;
    }

}

@media (min-width: 1440px) {
    .subscription {
        flex-direction: row;
        gap: 24px;
    }
}


.sub-name-title {
    color: var(--dark-blue);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    text-transform: uppercase;
    margin: auto
}

.sub-name-text {
    color: var(--dark-blue);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    padding-top: 31px;

}

.sub-img {
    padding-top: 2px;
  
}

.sub-form {
    padding-top: 20px;
}

.sub-checkbox {
    color: var(--dark-gray);
}

.sub-input {
    width: 100%;
    height: 51px;
    background-color: transparent;
    border: 1px solid var(--dark-grey, #B6B6B6);
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
}

.sub-label {
    color: var(--dark-gray);
    height: 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    display: flex;
    align-items: center;
}

.sub-label span {
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 1px solid var(--dark-gray);
    margin-right: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    transition-duration: 300ms;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sub-check:checked+.sub-label span {
    background-color: var(--dark-blue);
    border: none;
    fill: #ffff;
}

.form-btn {
    display: flex;
    min-width: 224px;
    font-family: Roboto;
    height: 52px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
    background-color: var(--dark-blue);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 33px;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1440px) {

    .subscription {

        padding: 88px 172px 86px 230px;
    }

    .wrap-container {
        display: flex;
        flex-direction: row;
        gap: 42px;
        width: 100%;
    }

    .sub-name-title {
        color: var(--dark-blue);
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4em;
        text-transform: uppercase;
        margin: auto
    }

    .sub-name-text {
        color: var(--dark-blue);

        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5em;
        padding-top: 31px;

    }

    .sub-img {
        padding-top: 2px;
    }

    .sub-form {
        padding-top: 20px;
    }

    .sub-checkbox {

        color: var(--dark-gray);
    }

    .sub-input {
        width: 100%;
        height: 51px;
        background-color: transparent;
        border: 1px solid var(--dark-grey, #B6B6B6);
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5em;
    }

    .sub-label {
        color: var(--dark-gray);
        height: 27px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5em;

        display: flex;
        align-items: center;
    }

    .sub-label span {
        width: 25px;
        height: 25px;
        display: inline-block;
        border: 1px solid var(--dark-gray);
        margin-right: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: transparent;
        transition-duration: 300ms;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .sub-check:checked+.sub-label span {
        background-color: var(--dark-blue);
        border: none;
        fill: #ffff;
    }

    .form-btn {
        display: flex;
        min-width: 224px;
        font-family: Roboto;
        height: 52px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 0.04em;
        color: var(--white);
        cursor: pointer;
        background-color: var(--dark-blue);
        border: none;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-top: 33px;
        justify-content: center;
        align-items: center;
    }
}