.subscription{
    display: flex;
    padding: 88px 172px 86px 230px;
}
.sub-name-title{

font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 45px; /* 140.625% */
text-transform: uppercase;
}